// theme variables

$color-primary:     #E2414A;
$color-secondary:   #19A7B3;
$color-green:       #98B730;
$color-orange:      #F37F35;
$color-dark:        #2A2D3B;
$color-light:       #D9DBD0;
$color-white:       #ffffff;
$color-black:       #000000;



